{{ define "main" }}
<article class="container container-800px" itemscope itemtype="http://schema.org/Article">
  <header class="row">
    <div class="d-flex flex-column">
      <h1 itemprop="headline">Surah {{ .Params.surah }}: Ayah {{ .Params.ayah }}</h1>
    </div>
    <div>
      {{ partial "list/terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>    
  </header>

  <section class="row pt-3 border-bottom">
    <div class="col" itemprop="articleBody">
      <div class="row">
        <div class="col-auto">
          <a href="{{ .RelPermalink }}" class="text-decoration-none">{{ .Params.surah }}:{{ .Params.ayah }}</a>
        </div>
        <div class="col">
          {{ .Content }}

          {{ $filePath := printf "notes/%d/%d.md" .Params.surah .Params.ayah }}
          {{ if fileExists $filePath}}
          <div class="m-2 p-2 ps-3 border-start border-5 border-info">
            {{ partial "includeFile.html" (dict "page" $filePath) }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</article>

<nav aria-label="Page navigation" class="container mt-4">
  <div class="row">
    <div class="col">
      <ul class="pagination justify-content-start">
        {{ $currentSurah := .Params.surah }}
        {{ $currentAyah := .Params.ayah }}
        {{ $parentSection := .Parent }}
        {{ $surahPages := where $parentSection.Pages ".Params.surah" $currentSurah }}
        {{ $surahPages := sort $surahPages ".Params.ayah" }}
        
        {{ $prevPage := "" }}
        {{ $nextPage := "" }}
        {{ range $index, $page := $surahPages }}
          {{ if eq $page.Params.ayah $currentAyah }}
            {{ if gt $index 0 }}
              {{ $prevPage = index $surahPages (sub $index 1) }}
            {{ end }}
            {{ if lt $index (sub (len $surahPages) 1) }}
              {{ $nextPage = index $surahPages (add $index 1) }}
            {{ end }}
          {{ end }}
        {{ end }}
        
        {{ with $prevPage }}
        <li class="page-item">
          <a class="page-link d-flex align-items-center" href="{{ .RelPermalink }}" rel="prev">
            <span aria-hidden="true">&laquo;</span>
            <span class="ms-2">{{ .Params.surah }}:{{ .Params.ayah }}</span>
          </a>
        </li>
        {{ end }}

        {{ with $nextPage }}
        <li class="page-item">
          <a class="page-link d-flex align-items-center" href="{{ .RelPermalink }}" rel="next">
            <span class="me-2">{{ .Params.surah }}:{{ .Params.ayah }}</span>
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
{{ end }}
