{{ define "main" }}
<article class="container" itemscope itemtype="http://schema.org/Article">
  <header class="row">
    <div class="col">
      <h1 itemprop="headline">{{ .Params.surah }}:{{ .Params.ayah }}</h1>
    </div>
  </header>

  <section class="row pt-3 border-bottom">
    <div class="col" itemprop="articleBody">
      <div class="row">
      <div class="col-auto">
        <a href="{{ .RelPermalink }}" class="text-decoration-none">{{ .Params.surah }}:{{ .Params.ayah }}</a>
      </div>
      <div class="col">
        {{ .Content }}
      </div>
    </div>
    </div>
  </section>
</article>

<nav aria-label="Page navigation" class="container mt-4">
  <div class="row">
    <div class="col">
      <ul class="pagination justify-content-between">
        {{ with .PrevInSection }}
        <li class="page-item">
          <a class="page-link d-flex align-items-center" href="{{ .RelPermalink }}" rel="prev">
            <span aria-hidden="true">&laquo;</span>
            <span class="ms-2">{{ .Params.surah }}:{{ .Params.ayah }}</span>
          </a>
        </li>
        {{ end }}

        {{ with .NextInSection }}
        <li class="page-item">
          <a class="page-link d-flex align-items-center" href="{{ .RelPermalink }}" rel="next">
            <span class="me-2">{{ .Params.surah }}:{{ .Params.ayah }}</span>
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
{{ end }}
