{{- $v := .Get "v" | default "" -}}
{{- $trans := .Get "trans" | default "clearquran" -}}
{{- $parts := split $v ":" -}}
{{- $chapter := "" -}}
{{- $verseSpec := "" -}}
{{- if eq (len $parts) 2 -}}
  {{- $chapter = index $parts 0 -}}
  {{- $verseSpec = index $parts 1 -}}
{{- else -}}
  {{- errorf "Invalid format for 'v' parameter in quran shortcode: %q. Expected format: 'chapter:verse' or 'chapter:start-end'." $v -}}
{{- end -}}

{{- $chapterData := index (index .Site.Data.quran $trans) $chapter -}} {{/* <-- Use selected translation */}}

{{- if not $chapterData -}}
  {{- $expectedPath := printf "data/quran/%s/%s.json" $trans $chapter -}}
  {{- errorf "Quran data not found for chapter %s. Expected file: %s" $chapter $expectedPath -}}
{{- end -}}

{{- $startVerse := 0 -}}
{{- $endVerse := 0 -}}
{{- $isRange := false -}}

{{- if findRE "-" $verseSpec -}}
  {{- $rangeParts := split $verseSpec "-" -}}
  {{- if eq (len $rangeParts) 2 -}}
    {{- $startVerse = int (index $rangeParts 0) -}}
    {{- $endVerse = int (index $rangeParts 1) -}}
    {{- $isRange = true -}}
  {{- else -}}
    {{- errorf "Invalid verse range format: %q" $verseSpec -}}
  {{- end -}}
{{- else -}}
  {{- $startVerse = int $verseSpec -}}
  {{- $endVerse = $startVerse -}}
{{- end -}}

{{- if le $startVerse 0 -}}
  {{- errorf "Invalid start verse number: %d" $startVerse -}}
{{- end -}}
{{- if lt $endVerse $startVerse -}}
   {{- errorf "End verse %d cannot be less than start verse %d" $endVerse $startVerse -}}
{{- end -}}

{{- $tooltipContent := "" -}}
{{- range $verseNum := seq $startVerse $endVerse -}}
  {{- $verseNumStr := string $verseNum -}}
  {{- $verseText := index $chapterData $verseNumStr -}}
  {{- if $verseText -}}
    {{- $tooltipContent = printf "%s%d. %s" $tooltipContent $verseNum $verseText -}}
    {{- if ne $verseNum $endVerse -}}
      {{- $tooltipContent = printf "%s&#10;" $tooltipContent -}}
    {{- end -}}
  {{- else -}}
    {{- $tooltipContent = printf "%sVerse %s:%d not found.&#10;" $tooltipContent $chapter $verseNum -}}
  {{- end -}}
{{- end -}}

<a href="#" 
   class="text-decoration-none" 
   data-bs-toggle="tooltip" 
   data-bs-placement="top" 
   data-bs-html="true"
   data-bs-title="{{ $tooltipContent }}"
   tabindex="0">{{ $v }}</a>



